editdistance==0.6.0
g2p_en==2.1.0
GPUtil==1.4.0
h5py==3.1.0
librosa==0.8.1
matplotlib==3.4.2
numpy==1.24.4
pyworld==0.3.4
PyYAML==6.0.2
ruamel.yaml==0.17.21
scipy==1.7.0
seaborn==0.11.2
sentencepiece==0.1.96
SoundFile==0.10.3.post1
speechbrain==0.5.9
torch==2.4.0
torchaudio==0.13.0
torchvision==0.11.2+cu113
tqdm==4.66.2
